* {
  box-sizing: border-box;
}

body {
  background-color: #edadad;
}
button {
  display: block;
}
.is-hidden {
  display: none;
}
/* .container {
  max-width: 448px;
  padding: 0 15px;
  margin: 0 auto;
} */

.js-span {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 10px auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: flex-end;
}

.photo-card {
  display: flex;
  box-sizing: border-box;
  flex-basis: calc(25% - 20px);
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
}

.gallery-link {
  max-width: 300px;
}

.search-form {
  margin: 0 auto;
  display: flex;
  margin-bottom: 16px;

  justify-content: center;
}
input {
  width: 500px;
  padding: 8px;
}

.info {
  display: flex;
  gap: 12px;
}
